name: build-deploy
on:
  push:
    tags:
      - v[0-9]*
      - build
permissions:
  # Give the workflow permission to write attestations.
  id-token: write
  attestations: write
  contents: write
  packages: write
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      # Wasm build
      - uses: actions/checkout@v3
      - name: Unshallow
        run: git fetch --prune --unshallow
      # Frontend
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22
      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 10
          run_install: false
      - name: Build frontend
        run: |
          pnpm install && pnpm run build
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository | lower }}:${{ github.ref_name }}